.imagem2{
    background-image: url("https://cdn.dribbble.com/users/2131993/screenshots/4948736/media/421d4ed2f3d23c73d64d20963f61f422.gif") !important;
    background-repeat:no-repeat ;
    width:100vh;
    min-height:100vh;
     background-size: cover ;
     background-position:center;
  
}
.texto2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;
}

.texto3{
    color: green;
}

.grid2{
    background-color: rgb(111, 255, 111);
    border-top-left-radius: 9050px;
    border-top-right-radius: 10000px;
    border-bottom-right-radius: 8300px;
}